/* ARMY 5 unit list */
#panelLogos {
  display: none !important;
}

/* NAAB's custom unit list container */
#naabUnitPanel {
  background-color: rgba(200, 200, 240, 0.5);
  position: absolute;
  top: 70px;
  left: 4px;
  width: 218px;
  bottom: 0px;

  overflow-y: scroll;

  /* Language selector flags sit at z-index 15 */
  z-index: 14;
  padding: 5px;
  padding-top: 8px;
}

/* NAAB's custom unit list unit container */
#naabUnitPanel .logo_unidad {
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px #333;
  border-radius: 8px;
  background-image: none !important;
  padding: 8px;
  cursor: pointer;
  margin: 5px 0px;
  position: relative;
  padding-right: 40px;
}

#naabUnitPanel .logo_unidad:hover {
  background-color: yellow;
}

#naabUnitPanel .logo_unidad  .unitType {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 3px;
  background-color: #44BBFF;
  color: #fff;
  opacity: 0.9;
}

#naabUnitPanel .logo_unidad  .unitType.li   { background-color: #33FF66 }
#naabUnitPanel .logo_unidad  .unitType.mi   { background-color: #CCFF33 }
#naabUnitPanel .logo_unidad  .unitType.hi   { background-color: #FFCC33 }
#naabUnitPanel .logo_unidad  .unitType.tag  { background-color: #FF3366 }
#naabUnitPanel .logo_unidad  .unitType.rem  { background-color: #33CCFF }
#naabUnitPanel .logo_unidad  .unitType.sk   { background-color: #B88A00 }
#naabUnitPanel .logo_unidad  .unitType.wb   { background-color: #CC33FF }
#naabUnitPanel .logo_unidad  .unitType.none { background-color: #000 }

#naabUnitPanel .unitSort {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 4px 5px;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}

#naabUnitPanel .unitSort input {
  margin-right: 2px;
  vertical-align: middle;
}

#naabUnitPanel .unitContainer {
  margin-top: 10px;
}

/* Army list */

/* Army list container */
.elementoLista {
  position: relative;
}

/* Name */
.elementoLista .nombre {
  font-weight: bold !important;
}

/* BS Weapons */
.elementoLista .armasCD {
  display: block !important;
  font-size: 70% !important;
  margin-top: 0px !important;
}

/* CC Weapons */
.elementoLista .armasCC {
  display: block !important;
  font-size: 70% !important;
  margin-top: 0px !important;
}

/* SWC */
.elementoLista .cap {
  position: absolute;
  top: 2px;
  right: 44px;
}

/* Cost */
.elementoLista .coste {
  position: absolute;
  top: 2px;
  right: 17px;
}

/* Delete */
.elementoLista .borrar {
  position: absolute;
  top: 2px;
  right: 0px;
}

/* Clear? */
.elementoLista .clr {
}


/* Army list */

/* Some units have other units nested inside them, e.g. ALEPH's Drakios */
#contenedorLista .e_contenedor.selected,
#contenedorLista .e_contenedor.selected .e_contenedor  {
  background-color: rgb(250, 150, 150) !important;
}

/* Profile list */
.contenedor_opciones .linea_opcion.selected {
  background-color: rgb(250, 150, 150) !important;
}

#contenedorLista .e_contenedor.impar .e_contenedor {
  background: url('../imagenes/paneles/fondo_linea_opcion.png') 0 0 repeat !important;
}

#naabFooter {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 80%;
  background-color: #ECECEC;
  padding: 2px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
}
